html, body {
	background: url('../img/3710.jpg') center center no-repeat;
	height: 100%;
	background-size: cover;
}

#logo h1 {
	margin: 0 auto;
	padding-top: 120px;
	font-family: 'Knewave', cursive;
	font-size: 4.5em;
	color: white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
}

#counter .countdown {
	text-align: center;
	color: white;
	font-family: 'Sriracha', cursive;
	font-size: 3.5em;
	font-weight: bolder;
	margin-top: 35px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
}

#intro p {
	color: white;
	text-align: center;
	font-family: 'Knewave', cursive;
	font-size: 2.2em;
	margin: 0 auto;
	margin-top: 30px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
}

#madeby p {
	color: white;
	text-align: center;
	font-family: 'Knewave', cursive;
	font-size: 1.8em;
	margin-top: 120px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
}

#madeby {
	text-align: center;
}

#madeby .fa {
	color: white;
	margin: 5px 15px; /*5px for top and bottom, 15px for left and right*/
	position: relative; /*to be able to adjust position of icons when hovering over them*/
	bottom: 0; /*starting position of icons*/
	transition: all 0.2s ease-in-out;
}

#madeby .github {
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
}

#madeby .github:hover {
	color: #0aaf26;
	bottom: 5px;
}
